*{  text-align: center;
    
    /* background-color: cyan; */
    background-clip: border-box;
    padding:0pt;
     margin-left: auto;
    margin-right: auto; 
}
.calci{
    display: inline-table;
    background-color:chartreuse;
    border-radius: 10pt;
}
#tabl{
    /* //height: 30px; */
    width: 50%;
    border-radius: 10pt;
}
td{
    height: 30px;
    width: 12.5%;
}
#scr{
    font-size: 55px;
    border-radius: 10pt;
    text-align: right;
}
.c{
    
    width: 12.5%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}
button{
    width: 50%;
    background-color: crimson;
    border-radius: 5pt;

}
#disp{
    width: 100%;
}
.d{  background-color: red;
    width: 10%;
}
